<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="layui-form mo-compile">
    <form th:action="@{/system/fileUpload/uploadFile}">
        <div class="layui-form-item">
            <label class="layui-form-label">路径</label>
            <div class="layui-input-inline">
                <input class="layui-input prefixPath" type="text" name="prefixPath">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上传文件</label>
            <div class="layui-input-inline">
                <button type="button" class="layui-btn fileUpload" up-url="/system/fileUpload/uploadFile" name="file" >选择文件</button>
                <button type="button" class="layui-btn fileUploadsubmit " >上传</button>
            </div>
        </div>
        <!--<div class="layui-form-item mo-finally">
            <button class="layui-btn ajax-submit">保存</button>
            <button class="layui-btn btn-secondary close-popup">关闭</button>
        </div>-->
    </form>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>