<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>

<th:block th:replace="/common/add :: add('/system/fileUpload',~{::tform})">
    <th:block th:fragment="tform">
        <th:block th:replace="/common/add :: inputtext ('name','name',${model?.name})"></th:block>
        <th:block th:replace="/common/add :: inputtext ('文件路径','path',${model?.path})"></th:block>
        <th:block th:replace="/common/add :: inputtext ('url路径','url',${model?.url})"></th:block>
        <th:block th:replace="/common/add :: inputtext ('文件类型','mime',${model?.mime})"></th:block>
        <th:block th:replace="/common/add :: inputtext ('文件大小','size',${model?.size})"></th:block>
        <th:block th:replace="/common/add :: inputtext ('文件md5值','md5',${model?.md5})"></th:block>
        <th:block th:replace="/common/add :: inputtext ('文件sha1值','sha1',${model?.sha1})"></th:block>
        <th:block th:replace="/common/add :: inputtext ('文件UUID','uuid',${model?.uuid})"></th:block>

        <th:block th:replace="/common/add :: inputtextarea ('备注','remark',${model?.remark})"></th:block>

    </th:block>
</th:block>
</html>