<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
<div class="mo-detail-page">
    <div class="mo-detail-title">基本信息</div>
    <table class="layui-table mo-detail-table">
        <colgroup>
            <col width="100px">
            <col>
            <col width="100px">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th>主键ID</th>
            <td th:text="${fileUpload.id}"></td>
            <th>name</th>
            <td th:text="${fileUpload.name}"></td>
        </tr>
        <tr>
            <th>文件路径</th>
            <td th:text="${fileUpload.path}" colspan="3"></td>
        </tr>
        <tr>
            <th>url路径</th>
            <td th:text="${fileUpload.url}" colspan="3"></td>
        </tr>
        <tr>
            <th>文件类型</th>
            <td th:text="${fileUpload.mime}"></td>
            <th>文件大小</th>
            <td th:text="${fileUpload.size}"></td>
        </tr>
        <tr>
            <th>文件md5值</th>
            <td th:text="${fileUpload.md5}" colspan="3"></td>
        </tr>
        <tr>
            <th>文件sha1值</th>
            <td th:text="${fileUpload.sha1}" colspan="3"></td>
        </tr>
        <tr>
            <th>文件UUID</th>
            <td th:text="${fileUpload.uuid}" colspan="3"></td>
        </tr>
        <tr>
            <th>创建时间</th>
            <td th:text="${#dates.format(fileUpload.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <th>更新时间</th>
            <td th:text="${#dates.format(fileUpload.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <th>备注</th>
            <td th:text="${fileUpload.remark}" colspan="3"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>