<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="mo-layout-page">
<div class="layui-card">
    <div class="layui-card-header mo-card-header">
        <span> 上传文件列表管理</span>
        <i class="layui-icon layui-icon-refresh refresh-btn"></i>
    </div>
    <div class="layui-card-body">
        <div class="layui-row mo-card-screen">
            <div class="pull-left layui-form-pane mo-search-box">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block mo-search-status">
                        <!--<select class="mo-search-select" name="status" mo:dict="SEARCH_STATUS" mo-selected="${param.status}"></select>-->
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">name</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" th:value="${param.name}" placeholder="请输入name" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-icon layui-icon-search mo-search-btn"></button>
                </div>
            </div>
            <div class="pull-right screen-btn-group">
                <button class="layui-btn open-popup" data-title="添加上传文件"
                        th:attr="data-url=@{/system/fileUpload/add}" data-size="auto">添加
                </button>
                <button class="layui-btn open-popup" data-title="添加上传文件"
                        th:attr="data-url=@{/system/fileUpload/upload}" data-size="auto">upload
                </button>
                <div class="btn-group">
                    <button class="layui-btn">操作<span class="caret"></span></button>
                    <dl class="layui-nav-child layui-anim layui-anim-upbit">
                        <dd><a class="ajax-status" th:href="@{/system/fileUpload/status/ok}">启用</a></dd>
                        <dd><a class="ajax-status" th:href="@{/system/fileUpload/status/freezed}">冻结</a></dd>
                        <dd><a class="ajax-status" th:href="@{/system/fileUpload/status/delete}">删除</a></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="mo-table-wrap">
            <table class="layui-table mo-table">
                <thead>
                <tr>
                    <th class="mo-table-checkbox">
                        <label class="mo-checkbox">
                            <input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i>
                        </label>
                    </th>
                    <th>主键ID</th>
                    <th>文件名</th>
                    <th>url路径</th>
                    <th>文件大小</th>
                    <th>文件UUID</th>
                    <!--<th>数据状态</th>-->
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="mo-checkbox">
                        <input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td>[[${item.id}]]</td>
                    <td>[[${item.name}]]</td>
                    <td><a th:href="${item.url}">[[${item.url}]]</a> </td>
                    <td>[[${item.size}]]</td>
                    <td>[[${item.uuid}]]</td>
                    <!--<td th:text="${#dicts.dataStatus(item.status)}">数据状态</td>-->
                    <td>
                        <a class="open-popup" data-title="编辑系统设置"
                           th:attr="data-url=@{'/system/fileUpload/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>
                        <a class="open-popup" data-title="详细信息"
                           th:attr="data-url=@{'/system/fileUpload/detail/'+${item.id}}" data-size="800,600" href="#">详细</a>
                        <!--<a class="ajax-get" data-msg="您是否确认删除" th:href="@{/system/fileUpload/status/delete(ids=${item.id})}">删除</a>-->
                        <a class="ajaxget" data-msg="您是否确认删除" th:href="@{'/system/fileUpload/delete/'+${item.id}}">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:replace="/common/fragment :: page"></div>
    </div>
</div>
<script th:replace="/common/template :: script"></script>
</body>
</html>