<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mo="http://www.w3.org/1999/xhtml">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<th:block th:replace="/common/index :: index('/system/fileUpload',~{::header},~{::search},~{::button},~{::table},~{::thead},~{::tbody},~{::tajax})">
    <th:block th:fragment="header">
        <span>文件列表管理</span>
    </th:block>
    <th:block th:fragment="search">
        <th:block th:with="status=${param.status},name=${param.name}">
            <th:block th:replace="/common/index :: paramstatus ('状态','status','SEARCH_STATUS',${status})"></th:block>
            <th:block th:replace="/common/index :: paramtext ('name','name',${name})"></th:block>
        </th:block>
    </th:block>
    <th:block th:fragment="button">
        <button class="layui-btn open-popup" data-title="添加上传文件"
                th:attr="data-url=@{/system/fileUpload/upload}" data-size="600,300">upload
        </button>
    </th:block>
    <!--<th:block th:fragment="table"></th:block>-->
    <th:block th:fragment="thead">
        <th class="sortable" data-field="id">主键ID</th>
        <th class="sortable" data-field="name">文件名</th>
        <th class="sortable" data-field="url">url路径</th>
        <th class="sortable" data-field="size">文件大小</th>
        <th class="sortable" data-field="uuid">文件UUID</th>
    </th:block>
    <th:block th:fragment="tbody">
        <td>[[${item.id}]]</td>
        <td>[[${item.name}]]</td>
        <td><a th:href="${item.url}">[[${item.url}]]</a></td>
        <td>[[${item.size}]]</td>
        <td>[[${item.uuid}]]</td>
    </th:block>
    <th:block th:fragment="tajax">
        <!--<a class="open-popup" data-title="编辑系统设置"
           th:attr="data-url=@{'/system/fileUpload/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>
        <a class="open-popup" data-title="详细信息"
           th:attr="data-url=@{'/system/fileUpload/detail/'+${item.id}}" data-size="800,600" href="#">详细</a>-->
        <th:block th:replace="/common/index :: ajaxedit"></th:block>
        <th:block th:replace="/common/index :: ajaxdetail"></th:block>
        <th:block th:replace="/common/upload :: download (${item.id},'下载')"></th:block>
        <a class="ajaxget" data-msg="您是否确认删除" th:href="@{'/system/fileUpload/delete/'+${item.id}}">删除</a>
    </th:block>
</th:block>
</html>