<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="mo-detail-page">
        <div class="mo-detail-title">基本信息</div>
        <table class="layui-table mo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${field.id}"></td>
                </tr>
                <tr th:each="item:${field.baseFieldList}">
                    <th>[[${item.title}]]</th>
                    <th:block th:if="${item.type!='File'}">
                        <td>[[${item.value}]]</td>
                    </th:block>
                    <th:block th:if="${item.type=='File'}">
                        <td><a class="open-popup"
                               th:attr="data-url=@{'/system/fileUpload/detail/'+${item.value.id}}"
                               data-size="800,600" href="#">[[${item.value.name}]]</a>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>