<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="http://www.w3.org/1999/xhtml">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <th:block th:replace="/common/index :: index('/system/permission',~{::header},~{::search},~{::buttonleft},~{::buttonright},~{::table},~{::thead},~{::tbody},~{::tajax})">
    <th:block th:fragment="header">
        <span>权限管理</span>
    </th:block>
    <th:block th:fragment="search">
        <th:block th:with="status=${param.status}">
            <th:block th:replace="/common/index :: paramstatus ('状态','status','SEARCH_STATUS',${status})"></th:block>
        </th:block>
        <th:block th:with="name=${param.name}">
            <th:block th:replace="/common/index :: paramtext ('名称','name',${name})"></th:block>
        </th:block>
        <th:block th:with="title=${param.title}">
            <th:block th:replace="/common/index :: paramtext ('标题','title',${title})"></th:block>
        </th:block>
    </th:block>
    <th:block th:fragment="buttonleft">
    </th:block>
    <th:block th:fragment="buttonright">
    </th:block>
    <!--<th:block th:fragment="table"></th:block>-->
    <th:block th:fragment="thead">
        <th class="sortable" data-field="id">主键ID</th>
        <th class="sortable" data-field="name">名称</th>
        <th class="sortable" data-field="title">标题</th>
        <th class="sortable" data-field="url">url</th>
        <th class="sortable" data-field="level">级别</th>

    </th:block>
    <th:block th:fragment="tbody">
        <td>[[${item.id}]]</td>
        <td>[[${item.name}]]</td>
        <td>[[${item.title}]]</td>
        <td>[[${item.url}]]</td>
        <td>[[${item.level}]]</td>

    </th:block>
    <!--<th:block th:fragment="tajax"></th:block>-->
</th:block>
</body>
</html>