<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <th:block th:replace="/common/detail :: detail(~{::tbody})">
    <th:block th:fragment="tbody">
        <th:block th:replace="/common/detail :: ttext2 ('主键ID',${model.id},'名称',${model.name})"></th:block>
        <th:block th:replace="/common/detail :: ttext2 ('URL地址',${model.url},'类型',${model.type})"></th:block>
        <th:block th:replace="/common/detail :: ttext ('排序',${model.sort})"></th:block>
        <th:block th:replace="/common/detail :: ttext2 ('创建时间',${#dates.format(model.createDate, 'yyyy-MM-dd HH:mm:ss')},'更新时间',${#dates.format(model.updateDate, 'yyyy-MM-dd HH:mm:ss')})"></th:block>
        <th:block th:replace="/common/detail :: ttext2 ('创建者',${model.createBy?.nickname},'更新者',${model.updateBy?.nickname})"></th:block>
        <th:block th:replace="/common/detail :: ttext ('备注',${model.remark})"></th:block>
    </th:block>
</th:block>
</body>
</html>