<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>

<th:block th:replace="/common/excel :: excel(${api},~{::item})">
    <!--<th:block th:fragment="item">
        <th:block th:replace="/common/excel :: exportExcel (${api})"></th:block>
        <th:block th:replace="/common/excel :: exportExcelTitle (${api})"></th:block>
        <th:block th:replace="/common/excel :: import (${api})"></th:block>
    </th:block>-->
</th:block>
</html>